server:
  port: 8080

spring:
  application:
    name: placementgo-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/placementgo
    username: postgres
    password: placementgo

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
